@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    San Salvador,<br />
    El Salvador<br />
    <abbr title="Phone">P:</abbr>
    +305 7887 6342
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:luis_zelaya@hotmail.com">luis_zelaya@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:luis_zelaya@hotmail.com">luis_zelaya@hotmail.com</a>
</address>