@{
    ViewBag.Title = "Home Page";
}
<!-- This is the Index Home Page -->
<div class="jumbotron">
    <h1>NET Developer Test</h1>
    <p class="lead">This is a ASP .NET MVC develpoment to Jobs Maintenance, using  Code Firts Entity Framework</p>
</div>

